<div class="dashboard">
    <h1>סטטיסטיקות כלליות</h1>
  
    <section class="statistics-section">
      <!-- גרף הנרשמים -->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>סטטיסטיקות נרשמים חודשיים</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-statistics></app-statistics>
        </mat-card-content>
      </mat-card>
  
      <!-- סך האלבומים -->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>סך האלבומים</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-albums></app-albums>
        </mat-card-content>
      </mat-card>
  
      <!-- סך התמונות -->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>סך התמונות</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-photos></app-photos>
        </mat-card-content>
      </mat-card>
    </section>
  </div>